<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GT1200.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <GT1200.Properties.Settings>
            <setting name="ChgCom" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="SaveFolder" serializeAs="String">
                <value>c:\revo</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="PresetFolder" serializeAs="String">
                <value>c:\GT1200_Presets</value>
            </setting>
        </GT1200.Properties.Settings>
    </userSettings>
</configuration>